* { outline: 0; }
body { margin: 0; background-color:transparent; }

.payerr-button   { font: 12px 'Lucida Sans Unicode','Lucida Grande',sans-serif; height: 62px; width: 55px; text-align: center; }
.payerr-button span { display:block; height: 20px; }
.payerr-button a { text-decoration: none; }

.payerr-button a .payerr-count { color: #666; text-shadow: #fff 0 0 4px; }
.payerr-button .payerr-count { font-size: 14px; letter-spacing: -1px; line-height: 37px; height: 42px; background: url('payerr-button.png') no-repeat ; }
.payerr-button .payerr-count:hover { background: url('payerr-button.png') 0px -42px no-repeat; }

.compact .payerr-button   { width: 110px; }
.compact .payerr-button .payerr-count { line-height: 20px; width: 51px; height: 20px; background: url('payerr-button.png') 0px -84px no-repeat; float: right; padding-left: 4px;}
.compact .payerr-button .payerr-count:hover { background: url('payerr-button.png') 0px -104px no-repeat; }

.payerr-link {  background: url('payerr-button.png') 0px -124px no-repeat; }
.payerr-link:hover {  background: url('payerr-button.png') 0px -144px no-repeat; }
.payerr-payerred { background: url('payerr-button.png') 0px -164px no-repeat; }
.payerr-payerred:hover { background: url('payerr-button.png') 0px -244px no-repeat; }
.payerr-error { background: url('payerr-button.png') 0px -224px no-repeat; }
.payerr-inactive { background: url('payerr-button.png') 0px -204px no-repeat; }
.payerr-mything { background: url('payerr-button.png') 0px -184px no-repeat; }
.payerr-subscribed { background: url('payerr-button.png') 0px -264px no-repeat; }